.tweet {
	position: relative;
	float: left;
    width: 400px;
    min-height: 90px;
    padding: .5em 1em;
    line-height: 1.4em;
    padding: 20px;
    background-color: #ecf0f1;
    position: relative;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    text-align: left;
    display: inline-block;
    margin: 0 20px 20px 0;
    display: flex;
	align-items: center;
	justify-content: center;
}

.tweet .text {	
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.tweet .badge {    
	position: absolute;
    opacity: 1;
    top: 0;
    right: 1em;
    display: block;
    padding: 4px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
    font-size: 14px;
}

.tweet.draft .badge {
    background-color: #a0a0a0;
}
.tweet.scheduled .badge {
    background-color: #d89c16;
}
.tweet.sended .badge {
    background-color: #16a085;
}